*.exe
*ilk
*pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

input.txt
output.txt
.vs/
Project/beakjoon/.vs
Project/codingtest/.vs
Project/programmers/.vs
Project/beakjoon/Debug
Project/codingtest/Debug
Project/programmers/Debug

Project/beakjoon/beakjoon/Debug
Project/codingtest/codingtest/Debug
Project/programmers/programmers/Debug
